/* Custom Icons */
.step-info {
  width:100%;
  height:100%;
  border-radius:0.5em;
  text-align: center;
  padding: 2em;
}

.step-info label {
  padding-top: 0.1em;
  font-size: 1.5em;
}

.step-icon
{
  font-size:4em;
}
